@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #071124;
  --glass: rgba(255, 255, 255, 0.04);
}

html,
body,
#__next {
  height: 100%;
}
body {
  @apply bg-gradient-to-b from-[#020617] via-[#071124] to-[#051223] text-slate-100 antialiased;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.02),
    rgba(255, 255, 255, 0.01)
  );
  backdrop-filter: blur(6px) saturate(120%);
  -webkit-backdrop-filter: blur(6px) saturate(120%);
  border: 1px solid rgba(255, 255, 255, 0.04);
}

*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 999px;
}
